@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*We remove the default settings*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*62.5% means 10px, so 1rem=10px, by this way we can calculate it better*/
html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto' sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 83%, 0.342);

}

.container{
    display: flex;
    justify-content: center;
    flex-flow: row;
    width: 90vw;
    height: 90vh;
}


.card{
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin:1rem;
    /*flex:0.5;*/
    width:10rem;
    height: 80vh;
    border-radius: 4rem;
    transition: all 1s;
    position: relative;
}

.card h3{
    position: absolute;
    bottom:1.4rem;
    left:1.4rem;
    font-size: 2rem;
    opacity: 0;
    color: #fff;
    transition: opacity 1s;

}

.card.active h3{
    opacity: 1;
}

.active{
    width: 90rem;
    /*flex:5;*/
    border-radius: 2rem;

}